body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#file-manager {
    /* Estilos para el manejador de archivos */
    background-color: #f0f0f0;
    border-right: 2px solid #d7d7d7;
    height: calc(100vh - 56px); /* Ajuste para la altura de la barra de navegación */
    overflow-y: auto; /* Desplazamiento para muchos archivos */
    padding: 15px;
}

#3d-viewer {
    /* Estilos para el visualizador 3D */
    background-color: #fff;
    height: calc(100vh - 56px);
    overflow-y: auto;
    padding: 15px;
}

#mri-images {
    /* Estilos para las imágenes de resonancia */
    background-color: #f0f0f0;
    height: calc(100vh - 56px);
    overflow-y: auto;
    padding: 15px;
}

.navbar {
    margin-bottom: 20px;
}

h3 {
    /* Estilos para los títulos de las secciones */
    color: #333;
    margin-bottom: 15px;
}
